
body
    background-color: #181818
    height: 100%
    // color: hsla(0,0%,100%,.6)
    color: rgb(144, 144, 144)
    font-family: "CircularSpUI", sans-serif

a
    color: rgb(144, 144, 144)
    font-family: "CircularSpUI", sans-serif

    &:hover
        color: #ffffff