.bgHome {
    background-image: url(../../Resources/bgImage.jpg);
    background-size: cover;
}

.heading-home {
    text-shadow: 2px 2px 5px #000000;
}

.p-home{
    text-shadow: 2px 2px 5px #000000;
    font-size: 20px !important;
}