body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.container{
    margin-top: 4em !important;
    border: solid 1px black;
    border-radius: 20px;
    padding-bottom: 3em;
    width: 30% !important;
  }

.container h1 {
    margin: 50px;
}

.login{
    margin-top: 30px;
    text-align: center;
    margin: 0 auto;
    width: 20em; 
}

.input{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.menu-landing{
    margin: 0 auto;
    width: 30% !important;
    text-align: center; 
    margin-top: 50px;
    border: solid 1px black;
    border-radius: 20px;
    padding: 3em;   
}

.menu-landing h1 {
    margin: 2em;
}

.button-register{
    color: red;
}  

.container-notes{
    padding: 2em;
}

.container-menu{
    display: flex;  
    justify-content: space-around;
}

.container-contact{
    padding: 2em;
}