doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title FILES
  link(rel='stylesheet' href='style.css')
  link(href='icon.png' type='image/png' rel='shortcut icon')
header
  h1.off FILES
main
  .screen
    nav
      | &gt; 
      a(href='/register') register
      |  or 
      a(href='/login') login
      | 
      span.blink _
footer
  span.power.on &#x23FB;