
=content
    margin: 0 auto
    padding: 15px 15px 1px
    max-width: 100%
    overflow-x: visible

=content-full
    padding-bottom: 15px

=text-left
    text-align: left

=text-right
    text-align: right

=text-center
    text-align: center

=push-20
    margin-bottom: 20px