.list
    

    &__items
        list-style: none

        &__link
            text-decoration: none
            color: #ffffff
            cursor: pointer
            text-align: left

            &__each
                background-color: #666666
                margin-bottom: 1px
                padding: 5px
                padding-left: 10px
                border-radius: 5px
            
                &:hover
                    background-color: #239e4c
                    color: #ffffff
                    cursor: pointer

        &__link-action:focus
            color: #50db7e
            font-weight: bold
            font-size: 1em