
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title FILES
    link(rel='stylesheet' href='/style.css')
    link(rel='stylesheet' integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')


div.screen
    h1 FILES
    if profileImage && loggedIn
       img.image(src=`/${profileImage}`)

    include nav.pug


    block content_block