nav
    | &gt;&nbsp;
    if loggedIn
        a(href='/files') files
        | &nbsp;
        a(href='/profile') profile
        | &nbsp;
        a(href='/logout') logout
    else
        a(href='/register') register
        | &nbsp;
        a(href='/login') login

        span.blink _
    p -----------------
