.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-content {
  background-color:rgb(234, 234, 234);
  flex: 1;
}

.Header{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

  margin-bottom:6px;
}