body{
    margin: 0 auto;
    width: 50%;
    border-style: solid;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(fondoserio.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

form {
    width: 550px;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;

}


img {
    display:block;
    margin:auto;
}

#nom {
    color:white;
    text-align: center;
    font-weight:bold;
    background-color: rgba(0, 0, 0, 0.3);

}

#exp, #estudios {
    border-collapse: collapse;
    width: 100%;
}


ul {
    list-style-type: circle;
}


h2 {
    text-align: center;
    background-color: rgb(233, 233, 233)
}

h3 {
    color:white;
}
h4{
    background-color: rgba(0, 0, 0, 0.2);
}