
* {
    box-sizing: border-box; 
}


body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1; 
    width:75%;
    margin: 0 auto;
    height: 1000px;
}
img{
    width: 45%;
    padding: 20px;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}


.leftcolumn {   
    float: left;
    width: 100%;
}


.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}


@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}