
.profile 
    margin: 0 auto
    min-height: 300px
    width: 800px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

    &__photo-container 
        padding-right: 30px

    &__photo
        width: 130px
        border-radius: 50%
    
    &__details
        padding-left: 30px

    &__details-flex 
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: 30px

    &__details-name 
        font-size: 50px
        padding-right: 20px
        line-height: 50px
        max-width: 500px
        min-width: 300px

    &__details-edit 
        background-color: white
        color: #BEC6C6
        text-decoration: none
        padding: 10px
        border: 1px solid #BEC6C6
        border-radius: 4px

    &__details-edit:hover
        box-shadow: black
        color: black