@import '../base'

.panel
    background-color: $base__color
    padding: to-rem(10)
    border: px(2) solid $base__boder-color
    margin: px(2)

    &--active
        background-color: $base__color--active

    &--inactive
        background-color: $base__color--inactive