
.search

    &__query
        border-radius: 5px
        width: 100%
        height: 40px
        margin-bottom: 20px
        color: #767C7C
        font-size: 15px
        padding-left: 20px

        &::placeholder
            color: #767C7C
            font-size: 15px

        &--header
            border-radius: 30px
            margin-bottom: 0px
            background-color: #F1F1F1
            border: none
        
        &--header:focus
            outline: 0
        

    &__help
        font-size: 17px

    