
.tabs
    display: inline-block

    &__item
        float: left

    &__link
        padding: .5rem 1rem
        color: #999999
        display: block
        font-size: 1.2rem

        &--active
            color: #000000

    &--underlined 

        .tabs__link--active
            // border-bottom: 1px solid #000