// .title-container
//     &__title
//         margin-top: 1em
//         padding-top: 0.5em
//         padding-left: 0.5em
//         text-align: left
//         font-size: 1.5em
//         color: #3888CD

.title
    font-size: 3rem
    margin-top: 20px
    margin-bottom: 40px