.banner-block
    padding-bottom: 50px
    display: flex
    align-items: center
    padding-bottom: 80px
    min-height: 590px
    
    &--left
        justify-content: flex-start
    
    &--center
        justify-content: center
    
    &--right
        justify-content: flex-end
    
    &--bg-image
        background-repeat: no-repeat
        background-size: 50%
        background-position: left 40%
    
    &__content
        
        &--col-6
            width: 50%
    
    &__title
        color: #ffffff
        font-size: 6.5rem
        letter-spacing: -.4rem
        line-height: 6rem
        margin-left: -5px
        margin-right: -5px
        margin-bottom: 20px
        
        &--text-dark
            color: #000000
    
    &__body
        color: rgb(11, 106, 127)
        margin-bottom: 25px
        
        &--text-white
            color: #ffffff