body
    font-family: 'Helvetica', sans-serif

.container
    width: 1140px
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto

.content
    padding: 30px 30px 1px

.content-full
    padding-bottom: 30px

.pt-30
    padding-top: 30px

.pr-30
    padding-right: 30px

.pb-30
    padding-bottom: 30px

.pl-30
    padding-left: 30px

.main-section-top
    background-color: #4cbcd0
    border-bottom: 1px solid rgb(61, 146, 155)

#header
    padding-top: 15px

#navbar
    display: grid
    grid-template-columns: 3fr 2fr 1fr
    grid-gap: 20px

#logo
    width: 190px

.text-center
    text-align: center

.text-right
    text-align: right

.main-section-bottom
    background-image: url('../img/bg-gray.png')
    border-top: 1px solid #ffffff

.main-grid-list-section
    padding: 30px
    border: 1px solid orange
    margin-top: -60px
    background-color: rgb(240, 240, 240)
    border-radius: 8px 8px 0 0
    border-color: rgb(192, 196, 195)

footer
    background-image: url('../img/bg-black.png')

#bottomnav
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: 2.2rem
    margin-bottom: 50px

#copyright
    color: rgb(109, 108, 104)