.button
  padding: 17px 22px
  display: inline-block
  text-decoration: none
  border-radius: 8px
  // text-shadow: 1px 1px #000000
  text-shadow: 0.05rem 0.05rem #000000
  border: 1px solid #2a3c3c
  color: #2a3c3c

  &--primary
    // color: #ffffff
    color: rgb(237, 237, 236)
    border: 1px solid #2a3c3c
    background: linear-gradient(to bottom, #50514b 50%, #3f3f37 50%)

  &--secondary
    color: #ffffff
    border: 1px solid #bf5c47
    background: linear-gradient(to bottom, #ea6c57 50%, #e75c47 50%)

  &--large
    padding: 20px 70px
    font-size: 1.2rem