.grid-posts
    margin-bottom: 20px

    &__title
        color: rgb(61, 62, 53)
        font-size: 2rem

    &__posts
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-column-gap: 2.2rem