.grid-post-item
    display: flex
    flex-direction: column
    justify-content: space-between

    &__image
        width: 100%
        margin-bottom: 30px

    &__category
        color: rgb(61, 62, 53)
        margin-bottom: 5px

    &__title
        color: rgb(61, 62, 53)

    &__description
        color: rgb(134, 134, 134)
        margin-bottom: 30px

    &__link-detail
        padding: 8px 26px
        background: rgb(63, 63, 55)
        color: #fff
        border-radius: 8px
        display: block
        border: 1px solid #2a3c3c