
body
    height: 100%
    margin: 0
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif
    line-height: 1.8em

// edit-profile

// body 
//     background-image: url("https://cdn.pixabay.com/photo/2018/07/06/23/31/bike-3521373_1280.jpg")
//     padding: 30px

// .form-container
//     background-color: white
//     margin: 0 auto
//     height: 33em
//     width: 25em
//     border-radius: 2%

// favorites

.profile-container
    height: 300px
    margin: 0
    // font-family: "Lato", sans-serif
    // line-height: 1.8em
    background-color: white
    display: flex
    align-items: center

// home

.showcase-container
    background-position: center
    background-size: cover
    height: 500px
    display: flex
    justify-content: center
    flex-direction: column
    margin-bottom: 40px

.showcase
    margin: 0 auto
    color: #ffffff
    width: 700px

// login

// body 
//     background-image: url("https://cdn.pixabay.com/photo/2018/07/06/23/31/bike-3521373_1280.jpg")
//     padding: 30px

// .form-container
//     background-color: white
//     margin: 0 auto
//     height: 25em
//     width: 25em
//     border-radius: 2%
  
// register

.form-container
    width: 500px
    background-color: #ffffff
    margin-left: auto
    margin-right: auto
    

// body 
//     background-image: url("https://cdn.pixabay.com/photo/2018/07/06/23/31/bike-3521373_1280.jpg")
//     padding: 30px

// .form-container
//     background-color: white
//     margin: 0 auto
//     height: 25em
//     width: 25em
//     border-radius: 2%
//     text-align: center
