
/*general aspects: borders and background-color*/
body{
    background-color:#X8E5E3;
}
.calculator { 
    margin: 0 auto;
    margin-top:0px;
    border: 3px; 
    width: 25%;
    text-align: center;
    background-color: #1792A4; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 15px;

    min-width: 395px;
    min-height: 390px;


}

/*mainScreen: margin, width ,border, position, texteálign background-color, text-style..*/
#screenText {
    margin: 0 auto;
    margin-top:5px;
    width: 73%; 
    border: 2px #80C9C6 solid; 
    height: 40px;
    text-align: right; 
    padding: 10px 5px 0px 0px;
    background-color: white; 
    font-family: "courier new"; 
    overflow: hidden;
    border-radius: 5px;
    font-size: 25px;
}

/*buttons style: width, height, padding background-color, border..*/
.calculator [type=button] {
    width: 18%;
    height: 60px;
    padding: 0px;
    background-color:#44b4c4;
    color:white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom:5px;
 }
/*special buttons style: background-color, cursor-pointer, width*/
.calculator [type=button].number{
    background-color:#80C9C6;
}
.calculator [type=button]:hover{
    background-color:#A3D5D1;
    cursor:pointer;
}
#mini{
    width:40%;
}
