doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title FILES
  link(rel='stylesheet' href='style.css')
.screen
  h1 FILES
  nav
    | &gt; 
    a(href='/register') register
    |  or 
    a(href='/login') login
    span.blink _