body{ background-image:url("collage.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}



.form-heading { color:#fff; font-size:2.3vh;}
.panel h2{ color:#444444; font-size:10vh; margin:0 0 0.8vw 0;}
.panel p { color:black; font-size:5vh; margin-bottom:3vh; line-height:2.4 vh;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 2vh;
  height: 5vh;
  line-height: 5vh;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2vw;
  margin: 1vw auto 3vw;
  max-width: 38%;
  padding: 5% 7% 7% 7%;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 1.4vh;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: black none repeat scroll 0 0;
  border-color: black;
  color: #ffffff;
  font-size: 3vh;
  width: 15vw;
  height: 50%;
  line-height: 50px;
  padding: 0;
  border-radius: 1vw;
}

.botto-text {
  color: #ffffff;
  font-size: 3vh;
  margin: auto;
  width: 20%;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
  width: 25vw;
}
.back { text-align: left; margin-top:10px;}

footer{
    position: relative;
    
    background-color: black;
    color: white;  
    padding: 10vh;
    font-size: 4vh;
    text-align: center;
}

input{
    width: 25vw;
    text-align: center;
}

.btn.btn-primary {
    width: 12vw;
    font-size: 5vh;
}

.btn.btn-primary:hover{
  border: 0.5vw solid grey;

}
img{
margin-top: -15%;
width: 18vw;
}