@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

.tabbutton {
    
    background-color: inherit;
    color: black;
    padding: 5px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

h1{
    color: white;
}

.headernav{
    width: 100%;
    display: inline; 
    margin-bottom: 50px;
}

.headernav ul {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.headernav li {float: left;}

.headernav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidebarleft{
    float: left;         
    width: 5%;
    background:transparent;
    
}

.content{
    float: left;         
    width: 80%;
    font-family: 'Gochi Hand';
}

table {
    width: 100%;
    text-align: center;
}


.sidebarright{
    float: right;         
    width: 15%;
}

a {
    text-decoration: none   
}

.postit {
    line-height: 1;
    text-align:center;     
    width: 275px;    
    margin: 25px;    
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    position:relative;   
    border:1px solid #E8E8E8;  
    border-top:60px solid #fdfd86;
    font-family:'Reenie Beanie';    
    font-size:45px;      
    border-bottom-right-radius: 60px 5px;
    display:inline-block;    
     background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
   
  .postit:after {     
     content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
   -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
        -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
       -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
           transform: matrix(-1, -0.1, 0, 1, 0, 0);
  }

  .pin {
      font-size: 16px
  }

  .inputText{
      margin: 10px;
      text-align: center;
  }