.block{
    text-align: left;
}

.block__title{
    display:block;
    margin: auto;
    letter-spacing: 40px;
    margin-bottom: 27px;
    font-size: 40px;
}

.block__description{
    font-size: 19px;
}