.EditAvatar
  padding: 30px
  padding-bottom: 0

  &-avatarWrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end

  &-avatar
    border-radius: 50%
    width: 45px

  &-field
    display: grid
    grid-template-columns: 8em 1fr
    margin-bottom: 15px
    grid-column-gap: 30px

  &-username
    margin-bottom: .2em
    font-size: 1.2em
    font-weight: 400
    letter-spacing: .02em

  &-changeAvatarLink
    text-decoration: none
    font-size: .9em
    color: #3d97ea
    cursor: pointer

  &-inputFile
    display: none