doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title REGISTERED
  link(rel='stylesheet' href='style.css')
head
  title files
  link(href='styles.css' rel='stylesheet')
  link(href='skylab-icon.png' type='image/png' rel='Shortcut Icon')
  div.screen
    | ok, user #{username} successfully registered, now you can go to 
    a(href='/login') login
