.form-inline .form-control {
    width:auto;
}

.form-inline .form-group {
    display: inline-block;
}

.img-circle {
    border-radius: 50%;
}

.artist-info {
    display: grid;
    grid-template: 1fr / 20% 80%;
    align-items: center;
    justify-items: start;
    padding: 20px 0;
}
.artist-info-hover {
    background-color: lightgray;
    cursor: pointer;
}

.artist-info-img {
    width: 80%;
    justify-self: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}