body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
}

nav {
    padding-left: 40px;
    padding-right: 40px;
}

nav ul {
    float: right;
    margin: 40px auto;
    list-style: none;
}

nav ul li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #333333;
}

nav a:hover {
    color: #43a2be;
    text-decoration: underline overline;
}

#home img {
    width: 100%;
}

section {
    padding: 150px 100px;
}

#about section img {
    width: 200px;
    height: 260px;
    float: left;
    margin-left: 150px;
}

#about h1, #about h2, #about p {
    margin-left: 400px;
    padding-right: 150px;
}

h1, #projects h2, #contact h2 {
    font-size: 50px;
    color: #43a2be;
    margin-top: 0;
    margin-bottom: 0;
}

#about h2 {
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: lighter;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container article {
    width: 270px;
    margin: 40px;
}

p strong {
    font-size: 22px;
}

form {
    background-color: #c1dee7;
}

fieldset {
    border: none;
    color: #666666;
}

fieldset  p {
    margin-bottom: 0;
}

input.buttom {
    width: 100px;
    height: 50px;
    background-color: #43a2be;
    color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    width: 100%;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer ul {
    list-style: none;
    margin-left: 100px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li img {
    width: 30px;
    height: 30px;
}

footer ul li a {
    color: #ffffff;
}