$bg-color: black

.list
    background-color: $bg-color
    padding-bottom: 20px
    &__item 
        height: 30px
        padding: 10px 10px
        display: grid
        grid-template: 1fr / 1fr
        align-items: center
        &:hover
            background-color: rgba(grey, 0.3)
        & a
            color: rgba(white,0.9)
            text-decoration: none
            height: auto
            width: 100%
            cursor: default
            font-size: 20px
