$bg-color: #424141

.navbar
    background-color: $bg-color
    height: 10vh
    width: 100%
    position: fixed
    bottom: 0
    display: grid
    grid-template: 1fr / 1fr 1fr 1fr
    &__btn
        color: white
        background: none
        border: none
        width: 100%
        height: 100%
        font-size: 20px
        &:hover
            background-color: grey
