<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div>
                <nav>
                    <li><a href="/">Home</a></li>
                    <li><a href="Profile">Profile</a></li>
                    <li><a href="contacts">Contacts</a></li>
                    <li><a href="notes">Notes</a></li>
                </nav>
                <h1>Edit Note</h1>
                <div>
                        <form>
                                <label>Title</label>
                                <input type="text" name="title">
                                <label>Content</label>
                                <input type="textarea" name="content">
                                <label>Date</label>
                                <input type="textarea" name="date">
                            
                                <button>Submit changes</button>
                                <p>Error message</p>
                        </form>
                </div>
        </div>
    
</body>
</html>