<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>

        <nav>
            <li><a href="/login">Go to Login</a></li>
        </nav>
        <h1>REGISTER</h1>
        <form>
            <label>Email*</label>
            <input type="text" name="usermail" placeholder="Email">
            <label>Password*</label>
            <input type="text" name="password" placeholder="Password">
        
            <button>Submit</button>
            <p>Error message</p>
        </form>


    </div>
    
</body>
</html>