

body {
    background-image: url(../files/Texture_Boards_Wooden_479402_2880x1800.jpg)
}

.topNav{
    align-content: center;
    display: block;
    position: inherit;
    background-color: transparent;
}