
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title FILES
    link(rel='stylesheet' href='style.css')
div.screen
    h1 FILES
    if profileImage
       img.image(src=`${profileImage}`)
    block content_block