extends base_layout

block content_block
    nav
        | &gt;
    a(href='/profile') profile
    a(href='/logout') logout
        span.blink _
    dl
        dt Username:
        dd #{session.username}
    button
        label(for='upload') Choose a profile image
    br
    br
    if (session.profileError)
        h2.error #{session.filesError}

    form(action='/profile' method='post' enctype='multipart/form-data')
        label(for='info') User information
        br
        textarea#info(name='info' cols='30' rows='4' placeholder='Some information about you') #{userinfo}
        br
        input#upload(type='file' name='upload' placeholder='')
        button(type='submit') submit
