extends base_layout

block content_block

    if (session.registerError)
            h2.error #{session.registerError}

    form(action='/register' method='post')
        input(type='text' name='username' placeholder='username' autofocus='')
        input(type='password' name='password' placeholder='password')
        button(type='submit') register
