.login-container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(234, 234, 234);
}

#login-body{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  
}
#login-footer{
    text-align: center;
}

#login-btn{
    margin-top: 10px;
    background-color: #C70039;
}

#login-title{
    background-color: #C70039;
    color:white;
}