doctype html
title files
link(href="styles.css" rel="stylesheet")
link(href="skylab-icon.png" type="image/png" rel="Shortcut Icon")

html
    head
    body
        nav
            a(href="/login") login
            a(href="/register") register
            a(href="/files") files
            a(href="/") home
            a(href="/logout") logout
    block content