body{
    background-color: #212342;
}

header{
    text-align: center;
    height: 250px;
    width: 800px;
    background-color: #444564;
    margin: 0 auto;
    border-radius: 30px 30px 0 0;
}
img{
    float: left;
    margin-top: 30px;
    margin-left: 60px;
}

h1{
    color: white;
    font-size: 60px;
    height: 40px;
    float: left;
    margin-left: 30px;
    margin-top: 90px;

}

#principalDiv{
    margin: 0 auto;
    background-color: white;
    width: 800px;
    height: 600px;
}
nav{
    float: left;
}
ul{
    margin-top: -5px;
    list-style: none;
}
li{
    padding-top: 15px;
    color: #9C807F;
    height: 40px;
    width: 150px;
    border-bottom: 1px dotted grey;
}

section{
    height: 400px;
    width: 500px;
    float: left;
    margin-left: 50px;
}

aside{
    clear: both;
    /* border: 1px solid black; */
    height: 200px;
    float: left;
    width: 170px;
    margin-left: 35px;
    margin-top: -100px;
}
footer{
    background-color: #614545;
    width: 800px;
    height: 100px;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    text-align: center;
}
.pFooter{
    margin-top: -20px;
    color: white;
    padding-top: 40px;
}