
.recently-played

    &__title
        font-size: 0.8rem
        text-transform: uppercase
        font-weight: lighter

    &__list-item
        margin: 12px 0

    &__list-item a
        color: rgb(144, 144, 144)

    &__list-item a:hover
        color: #ffffff