
.track-list-item
    display: grid
    grid-template-columns: 30px 1fr 50px
    align-items: center
    padding: 20px 15px

    &:hover
        background-color: #050505

    &__title
        margin-bottom: 0
        font-size: 1rem
        color: #ffffff

    &__play-time
        text-align: right