
.header
    height: 60px
    display: grid
    grid-template-columns: 75px 2fr 2fr
    align-items: center

.logo-container
    text-align: center

.logo
    width: 40px
    vertical-align: middle

.site-nav
    padding: 0 15px

.site-nav__item
    margin-left: 1.5em

.site-nav__login
    color: grey
    font-size: 14px

    &:hover
        color: #000000

.site-nav__register
    color: white
    font-size: 1em
    padding: 0.8em
    background-color: #59A56C
    border-radius: 5px
    font-size: 14px

.site-nav__list
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center

.site-nav__logout
    font-size: 1em
    padding: 0.8em
    background-color: black
    border-radius: 5px
    font-size: 14px
    color: white

.site-nav__profile-image
    width: 2.8em
    height: 2.8em
    border-radius: 50%
    vertical-align: middle