@import url('https://fonts.googleapis.com/css?family=VT323');

* {
    font-family: VT323, 'Courier New', Courier, monospace;
    font-size: 24px;
}

body {
    padding: 1em;
}

.screen {
    background-color: black;
    color: lime;
    border-radius: 1em;
    padding: 1em;
    height: 80vh;
}

a {
    color: lime;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

input, button {
    background-color: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: lime;
    color: inherit;
    font-size: inherit;
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.3em;
}

input:focus {
    outline: none;
}

input[type="file"] {
    border: none;
    display: none;
}

button:hover {
    background-color: lime;
    color: black;
    cursor: pointer;
}

.image {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    float: right;
}

h1 {
    display: inline-block;
}

/* .upload {
    position: fixed;
    bottom: 0;
    display: inline;
} */