body {
	font-family: "Helvetica", "sans-serif";
	color: #333333;
	margin-left: 150px;
}

h1 {
	color: #1b737b;
	margin-top: 50px;
	margin-bottom: 0px;
}

h2 {
	color: #666666;
	font-size: 16px;
	font-weight: lighter;
	margin-top: 0px;
}

main {
	width: 300px;
	height: 400px;
	margin-top: 30px;
	background-color: #ccdbdc;
	padding: 10px;
}
				 
#displayResult { 
	margin-bottom: 10px;  
	height: 100px;
	text-align: right;
	font-size: 70px; 
    position: relative;  
    padding: 5px;
    overflow: hidden;
    background-color: #1b737b;
	color: white;
}

p {
	margin: 0px; 
}

input[type="button"] { 
	font-size: 20px;
	color: #333333;
	float: left;
	background-color: white;
	width: 73px;
	height: 68px;
	padding: 0px;
	margin: 1px;
	border: none;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #ccdbdc;
	font-size: 25px;
}

input.clear {
	width: 90px;  
	height: 110px;
	margin-right: -5px;
	top:-1px;
	font-size: 50px; 
    position: relative;  
    background-color: #1b737b;
	color: white;
}

input.clear:hover {
    background-color: #283536;
	color: white;
	font-size: 50px;
}

input.calculation {
	font-size: 25px;
	background-color: #98f0ce;
}

input.calculation:hover {
	background-color: #5f7476;
	color: white;
	font-size: 30px;
}

input.result {
	background-color: #1b737b;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

input.result:hover {
	background-color: #283536;
	font-size: 45px;
}