doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title FILES
  link(rel='stylesheet' href='style.css')
.screen
  h1 FILES
  img.image(src='./default-image.png')
  nav
    | &gt; 
    a(href='/profile') profile
    a(href='/logout') logout
    span.blink _
  ul
   each val in files
     li
       a(href="/download/"+val)=val
       a(href="/delete/"+val) [x]
        
  button
    label(for='upload') Choose a file
  form(action='/files' method='post' encType='multipart/form-data')
    input#upload(type='file' name='upload' placeholder='' autofocus='')
    button(type='submit') upload