.favorites
    padding: 5em 25em

    &__title
        color: #525252
        font-size: 3em
        margin-bottom: 2em

    &__list
        text-align: left
        margin: 2em auto
        width: 50%

        &__item
            font-size: 2em
            
            &__delete
                margin-right: 1em

@media only screen and (max-width: 1024px)

.favorites
    padding: 5em

    &__title
        width: 80%
                