.list
    display: flex
    justify-content: center


    &__warp
        display: flex
        width: 60%

        &__item
            width: 10em

            &__img
                background-size: cover
                border-radius: 50%
                width: 5em
                height: 5em

        &__text
            text-align: left
            
            &__link
                color: #212121

                &:hover
                    color: #6BDFA0