.list
    display: flex
    justify-content: center

    &__warp
        display: flex
        width: 60%

    &__item
        width: 10em

    &__img
        background-size: cover
        border-radius: 50%
        width: 6em
        height: 6em