.profile
    display: grid
    grid-template-columns: repeat(2, 1fr)
    padding: 5em 5em

    &__update

        &__title
            color: #525252
            font-size: 3em
            margin-bottom: 0.2em

        &__text
            font-size: 1.5em
            color: #525252
            margin-top: 0
            margin-bottom: 4em


    &__delete

        &__title
            color: #525252
            font-size: 3em
            margin-bottom: 0.2em

        &__text
            font-size: 1.5em
            color: #525252
            margin-top: 0
            margin-bottom: 4em
