$color-app-grey: #9F9A96
$color-app-green: #A8D5C1
$color-app-darkpink: #F0B3B2
$color-app-softpink: #FED5D1
$color-app-white: #FCF8FA

$opacity-strong: 0.8    
$opacity-light: 0.4

$app-max-width: 400px
$nav-height: 10vh
$app-height: 100 + $nav-height

