.main
    border: 4px dotted blue
    height: 50%
    width: 50%
    position: absolute
    padding: 50px 50px 50px
    
    &__buttons
        display: grid
        grid-gap: 50px
        text-align: center
        padding:20px 
        color: blue
       

    &__hide
        display: none
