.result__list__container{
    width: 100%;
    margin-top: 3vh;
}

.list__item{
    margin: 0.5vh;
    padding: 0.5vh;
    font-size: 14px;  
}

.rows{
    border: 1px solid;
    
    margin: 1.5vh;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #888888;
}

.title-market{
    font-size: 16px;
}

.legend{
    font: bold;
}

.negative{
    color: rgb(255, 39, 39);
}

.positive{
    color: rgb(13, 196, 13);
}