@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900|Uncial+Antiqua|Vollkorn:400,700,900');

/*font-family: 'Merriweather', serif;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Vollkorn', serif;
*/

$text_color1: #ff002d;
$text_color15: #890017;
$text_color2: #ac9319;
$text_color3: #a5a5a5;
$text_color4: #e3e3e3;
$background_color1: rgba(50, 50, 60, 0.8);
$background_color2: rgba(87, 87, 87, 0.8);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: 'Merriweather', serif;

}

.navbar__brand.navbar-brand{
  font-family: 'Uncial Antiqua', cursive;
  font-size: 1.8em;
  letter-spacing:.2em;
  font-weight:700;

  img {
    max-width: 50px;
  }

}

h2.navbar__nickname {
  font-size:1.2em;
  color:$text_color1;
}


.main__mainChessContainer {
  color: white;

  .games__mainChessRow {
    position: relative;
    margin-top: 5%;
  }
  .chessBoardGroup__chessBoardArea {
    margin-bottom:20px;
  }

}

main div.games__mainChessRow.row div.chessBoardGroup__gameInfoArea.col-12.col-md-3 h3.chessBoardGroup__players {
  font-size: 1.2em;
  color: $text_color1;
  padding-bottom:10px;
  border-bottom:solid 1px $background_color2;
  span {
    color:$text_color3;
  }
}

main div.games__mainChessRow.row div.chessBoardGroup__gameInfoArea.col-12.col-md-3 {
  padding:.5em;
  padding-left:1em;
  padding-right:1em;
  background-color: $background_color1;
}

main div.games__mainChessRow.row div.chessBoardGroup__gameInfoArea.col-12.col-md-3 h3.chessBoardGroup__toPlay {
  font-size: 1.2em;
  color: $text_color1;
  padding-bottom:10px;
  border-bottom:solid 1px $background_color2;
  span {
    color:$text_color3;
  }
}

main div.games__mainChessRow.row div.chessBoardGroup__gameInfoArea.col-12.col-md-3 p.chessBoardGroup__pgn {
  font-size: 1em;
  color: $text_color3;

}


main div.games__mainChessRow.row div.chessBoardGroup__gameInfoArea.col-12.col-md-3 h3.chessBoardGroup__inCheck {
  font-size: 1.2em;
  color: $text_color1;
  padding-bottom:10px;
  border-bottom:solid 1px $background_color2;
  span {
    color:$text_color3;
  }
}



main div.userList ul.list-group a.list-group-item {
  background-color: $background_color1;

  &:link, &:visited {
    color: $text_color1;
    text-decoration: none
  }
  &:hover, &:active {
    color: $text_color15;
    text-decoration: none
  }
}

main div.userList ul.list-group li.list-group-item  {
  background-color: $background_color1;
  color: $text_color1;
}

main {
  margin: 2em;

  .main__mainText {
    color: $text_color1;
    font-size: 1em;
    letter-spacing: 0.1em;
    background: $background_color1;
  }

}

.invite__searchInput {
  margin-top: 3em;
  margin-bottom: 3em;
  color: $text_color1;
  border-color: rgba(255, 75, 5, 0.7);
  &:focus {
    outline: none !important;

  }
}

.invite__explainText {
  color: $text_color1;
  size: 1.2em;
  font-weight: 700;
  &.invite__explainText-explain {
    color: $text_color2;
  }
}

body {
  height: 100%;
  background: url(../images/darkwoodchess.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header, footer {
  display: table;
  width: 100%;
  height: 10%;
}

input {
  background-color: inherit;
  border-style: solid;
  border-width: 1px;
  color: inherit;
  font-size: inherit;
  border-radius: 0.5em;
  padding: 0.3em;
  margin: 0.3em;
}

ul {
  padding: 1em;
}

