.app {
    display: grid;
    grid-template: 1fr / 1fr;
    height: 100vh;
    width: 100%;
}

.app-settings {
    display: grid;
    grid-template: 1fr / 25% 75%;
    height: 100vh;
    width: 100%;
}

.app-profile {
    display: grid;
    grid-template: 1fr / 75% 25%;
    height: 100vh;
    width: 100%;
}

.app-settings-profile {
    display: grid;
    grid-template: 1fr / 25% 50% 25%;
    height: 100vh;
    width: 100%;
}