*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif

.container
    max-width: 1000px
    margin: auto
    background-color: red
    height: 100vh
    display: flex
    flex-flow: row wrap

.header
    display: flex
    justify-content: space-between
    background-color: yellow
    align-items: center
    flex-wrap: wrap
    padding: 20px
    width: 100%

    &__img
        width: 100px
        height: auto
        border-radius: 10%

    &__h
        color: white


.experience
    background-color: aliceblue
    flex: 1 1 70%
    padding: 20px

    &-article
        display: flex
    
aside
    background-color: purple
    flex: 1 1 30%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    
    
.footer
    background-color: black
    align-items: flex-end