<!doctype html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/template1.css">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../../vendor/bootstrap/4.1.0/bootstrap.min.css">
   <title>Home</title>
 </head>
 <body>
    
     
       
       <div class="container">

           <div class="container-panel">
           
           <img id="logo" src="../style/logo-steam.png" alt="logo--steam" >
           <p>Stim is a web created by fans of videogames.Here, you'll be able to read news of</br> your favourite games. We are wating for you. </p>
           <button type="button" class="btn btn_outline-black">Login</button>
           <button type="button" class="btn btn_outline-black">Register</button>   
      
          </div>
      
     
  
  </div>
      <footer>© 2018 STIM | All Rights<br> Reserved.</footer>
    
    
       <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
   <script src="../vendor/popper/1.14.0/popper.min.js"></script>
   <script src="../vendor/bootstrap/4.1.0/bootstrap.min.js"></script>
 </body>
</html>