/* #comRainySaturdayUserRegisterForm {
width: 50%;

} */

#comRainySaturdayUserRegisterAndLogin {
display: flex;
justify-content: center;

}

.comRainySaturdayUserRegisterAndLoginBorderFail{

    border: 2px solid red !important;
}

.comRainySaturdayUserRegisterAndLoginBorderOk{

    border: 2px solid green !important;
}