.goToLogin
    background-color: #444444
    height: 100vh
    margin: 0 auto
    padding-top: 5%

    &__text
        position: initial
        text-align: center
        margin-top: 5%
        color: #ffffff

    &__button
        color: #000000
        font-size: 0.9em
        background-color: #239e4c
        color: white
        margin: 5px 10px
        width: 120px
        height: 30px
        border: none
        border-radius: 5px
        cursor: pointer

        &:hover
            background-color: #14612e
            font-size: 1em