$header-blue: rgb(0, 192, 216);
$header-height: 515px;

$main-height: 540px;
$main-grey: rgb(202, 207, 206);

$whats-new-white: rgb(209, 235, 234);
$whats-new-width: 990px;

$footer-height: 300px;
$footer-grey: rgb(25, 24, 20);

$nav-button-blue: rgb(202, 239, 245);
$sign-up-grey: rgb(79, 82, 75);

$bottom-column-width: 220px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.container {
  width: 100%;
  display: grid;
  grid-template-rows: $header-height auto minmax($footer-height, 1fr);
}

header {
  height: $header-height;
  background: $header-blue url(../images/chimp.png) no-repeat bottom left 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 706px 1fr;
  grid-template-rows: 50px 50px 1fr;
  grid-template-areas: ". . . " ". nav ." ". signup .";
  nav {

    grid-area: nav;
    position: relative;
    background: pink;
    ul {
      display:flex;
      justify-content:flex-end;

      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        height: 50px;
        background-color: $nav-button-blue;
        padding: 20px 15px;
        margin: 0;
        a {
          text-decoration: none;

        }
      }
    }
    #login-button {
      position: absolute;
      left: 650px;
      top: -50px;
      color: white;
      display: inline-block;
    }
    #logo {
      position: absolute;
      left: -250px;
    }
  }
  #signup {
    grid-area: signup;
    color: white;
    margin-left: 240px;
  }

}

main {
  width: 100%;
  height:100%;
  background-color: $main-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  #whats-new {
    background: $whats-new-white;
    width: $whats-new-width;
   margin-top: -50px;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;
    display: grid;
    grid-template-columns: repeat(4, $bottom-column-width);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 20px;
    h2 {
      grid-column: 1/5;
      grid-row: 1/2;
    }
    ul li {
      list-style: none;
      display: inline-block;
    }
  }
}

footer {

  background: $footer-grey;
  height: $footer-height;
  display: grid;
  grid-template-columns: repeat(4, $bottom-column-width);
  h6 {
    color: white;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
    }
    list-style: none;
    display: inline-block;

    a {
      text-decoration: none;
      color: darkgrey;
      &:hover, &:active {
        color: white;
      }
    }
  }

}


