$header-blue: rgb(0, 192, 216);
$header-height: 515px;

$main-height: 540px;
$main-grey: rgb(202, 207, 206);

$whats-new-white: rgb(240, 240, 240);
$whats-new-width: 990px;

$footer-height: 300px;
$footer-grey: rgb(25, 24, 20);

$nav-button-blue: rgb(202, 239, 245);
$sign-up-grey: rgb(79, 82, 75);

$bottom-column-width: 220px;

$nav__menu-button-rounding: .7em;
$nav__menu-button-height: 0.8rem;
$nav__menu-button-colour: rgba(100, 100, 100, 1);

$main__title-colour: rgb(61, 60, 55);

%nav__menu-button-black-gloss {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: rgb(76, 76, 76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0); /* IE6-9 */
}

%main_and_footer_grid_setup {
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, $bottom-column-width);
  grid-column-gap: 20px;
}

$header__signup-button-border-colour: #BC3E00;

%header__signup-button-orange-gloss {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc7f3c+0,fc7f3c+50,fc5800+51,fc5800+100 */
  background: rgb(252, 127, 60); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(252, 127, 60, 1) 0%, rgba(252, 127, 60, 1) 50%, rgba(252, 88, 0, 1) 51%, rgba(252, 88, 0, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(252, 127, 60, 1) 0%, rgba(252, 127, 60, 1) 50%, rgba(252, 88, 0, 1) 51%, rgba(252, 88, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(252, 127, 60, 1) 0%, rgba(252, 127, 60, 1) 50%, rgba(252, 88, 0, 1) 51%, rgba(252, 88, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc7f3c', endColorstr='#fc5800', GradientType=0); /* IE6-9 */
}

%rounded_button {
  -webkit-border-radius: $nav__menu-button-rounding;
  -moz-border-radius: $nav__menu-button-rounding;
  border-radius: $nav__menu-button-rounding;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

div.main__container {
  width: 100%;
  display: grid;
  grid-template-rows: $header-height auto auto;
}

header {
  height: $header-height;
  background: $header-blue url(../images/chimp.png) no-repeat bottom left 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 706px 1fr;
  grid-template-rows: 50px 50px 1fr;
  grid-template-areas: ". . . " ". nav ." ". signup .";
  .header__button-signup {
    @extend %header__signup-button-orange-gloss;
    border: none;
    border-top: $header__signup-button-border-colour 1px solid;
    border-bottom: $header__signup-button-border-colour 1px solid;
    width: 209px;
    height: 50px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1em;
    @extend %rounded_button;
  }
  .header__signup-text {
    color: teal;

    font-size: .9em;
    .header__signup-text-title {
      display: inline-block;
      margin: 15px 0;
      font-size: 5em;
      letter-spacing: -.05em;
      line-height: 1.1em;
      color: white;

    }
  }
  .nav__menu-container {
    grid-area: nav;
    position: relative;
    .nav__menu {
      display: flex;
      justify-content: flex-end;

      padding: 0;
      margin: 0;
      .nav__menu-button {
        font-size: $nav__menu-button-height;
        list-style: none;
        display: inline-block;
        border-left: 1px solid rgba(255, 255, 255, 0.95);
        border-right: 1px solid rgba(100, 100, 100, 0.3);
        height: 46px;
        background-color: $nav-button-blue;
        padding: 20px 15px;
        margin: 0;
        line-height: .6em;
        cursor: pointer;
        color: $nav__menu-button-colour;
        &--left-button {
          border-radius: $nav__menu-button-rounding 0 0 $nav__menu-button-rounding;
          border-left: none;

        }
        &--search-button {
          border-radius: 0 $nav__menu-button-rounding $nav__menu-button-rounding 0;
          border-right: none;
          .nav__input-search {
            margin-top: -10px;
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-position: center right;
            height: 2em;
            padding: .5em;
            border: 1px solid lightgrey;
            -webkit-border-radius: $nav__menu-button-rounding - .3em;
            -moz-border-radius: $nav__menu-button-rounding - .3em;
            border-radius: $nav__menu-button-rounding - .3em;
          }
        }
        &--sign-up {
          @extend %nav__menu-button-black-gloss;
          margin-right: 15px;
          border-radius: $nav__menu-button-rounding;
          border: none;
          border-top: 1px black solid;
          border-bottom: 1px black solid;
          text-shadow: 2px 2px black;
          color: white;
          padding-left: 20px;
          padding-right: 20px;
        }
        a {
          text-decoration: none;
          color: inherit;
          &:hover, &active {
            color: cornflowerblue;
          }
        }
      }
    }
    .nav__login-button {
      position: absolute;
      left: 650px;
      top: -55px;
      color: white;
      display: inline-block;
      font-size: .8em;
      cursor: pointer;
    }
    .nav__logo {
      position: absolute;
      left: -250px;
    }
  }
  .header__section-signup {
    grid-area: signup;
    color: white;
    margin-left: 240px;
  }

}

.main__content {
  width: 100%;
  height: 100%;
  background-color: $main-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .main__section-whats-new {

    background: $whats-new-white;
    width: $whats-new-width;
    margin-top: -50px;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;

    @extend %main_and_footer_grid_setup;

    $whatsnew__article-title-colour: rgba(70, 75, 70, 1);
    $whatsnew__article-body-colour: lightgrey;
    $whatsnew__article-button-colour: rgb(63, 63, 55);

    grid-template-rows: 70px 1fr;
    color: $whatsnew__article-title-colour;

    .whatsnew__main-title {
      grid-column: 1/5;
      grid-row: 1/2;
      font-size: 1.8em;
    }
    .whatsnew__article {

      .whatsnew__article-image {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
      }
      .whatsnew__article-title {
        font-size: 1em;
        margin-bottom: 30px;
        .whatsnew__article-subtitle {
          font-size: 1.5em;
          &:before {
            content: "\A";
            white-space: pre;
          }
        }
      }
      .whatsnew__article-button {
        background: $whatsnew__article-button-colour;
        color: white;
        text-shadow: 1px 1px black;
        width: 208px;
        height: 29px;
        margin-top: 40px;
        @extend %rounded_button;
        background-image: url("../images/arrows.png");
        background-repeat: no-repeat;
        background-position: top .7em right .2em;
      }
    }
    ul li {
      list-style: none;
      display: inline-block;
    }
  }
}

footer {
  height: 100%;

  background: $footer-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  $footer__dark-grey: rgb(60, 60, 60);
  .footer__section-main {
    width: $whats-new-width;

    /*  padding: 0 20px;
   display: grid;
   grid-template-columns: repeat(4, $bottom-column-width);
   grid-column-gap: 20px;*/
    @extend %main_and_footer_grid_setup;
    grid-template-rows: repeat(2, 1fr);

    .footer__contact-column-title {
      color: white;
      font-size: 1em;
      margin-bottom: 1em;

    }
    .footer__contact-column-link-container {
      margin: 0;
      padding: 0;
      list-style-type: none;
      .footer__contact-column-link {

        a {
          text-decoration: none;
          color: $footer__dark-grey;
          &:hover, &:active {
            color: white;
          }
        }
      }
    }
  }
  .footer__copyright {
    grid-area: 2 / 1 / 3 / 5;
    color: $footer__dark-grey;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
}


