.form-add{
    margin-top: 5em;
    display: flex;
    justify-content: center;
  }

  .form-add img{
    height: 200px;
    width: 200px;
    border-radius:50%;
    margin-top: 2em;
  }

  .container-input input{
    /* color:transparent !important; */
    margin-left: 3em;
  }

  .container-title-add{
    margin-left: 25em;  
  }