.gallery
    display: grid
    grid-template: 1fr / 1fr 1fr
    &__container
        position: relative
    &__img
        width: 100%
    &__icon
        position: absolute
        left: 5%
        top: 5%
        color: rgba(brown, 0.5)
        &:hover
            color: red

