$opacity-strong: 0.8    
$opacity-light: 0.4

$app-max-width: 100vh
$nav-height: 10vh
$app-max-height: 100-$nav-height



*,
*::before,
*::after
    box-sizing: border-box


*
    margin: 0
    padding: 0

*
    font-family: Arial, Helvetica, sans-serif
