@import 'Common'


.puntverd
    background: #DCE35B
    background: -webkit-linear-gradient(to top, #45B649, #DCE35B) 
    background: linear-gradient(to top, #45B649, #DCE35B)
    height: 100vh
    display: grid
    justify-items: center
    color: white
    &__words
        margin: 0 auto
    &__map
        height: 55vh
        width: 100%
    &__title
        margin: 20px
        margin-bottom: 0
        