.main
    background-color: #333333
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    &__group
        padding: 20%

        &__text
            color: #ffffff

            &__link
                color: #80CBC4
                text-decoration: none