
.album-list-item
    text-align: center

    &__image
        width: 100%
        margin-bottom: 5px

    &__title
        margin-bottom: 5px

    &__title a
        color: #ffffff
        font-size: 1rem

    &__artist
        font-size: 0.8rem