
.artist-detail
    +content
    min-height: 300px
    background-repeat: no-repeat
    background-size: cover
    background-position: 0 30%
    display: flex
    justify-content: center
    align-items: center

    &__title
        font-size: 4rem
        color: #ffffff