<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Patient</title>
</head>
<body>
    <header>
        <img src="logo.png"/>
        <a href="login.html">LogOut</a>
        <nav>
            <a href="patients.html">Patients</a>
            <a href="cites.html">Cites</a>
        </nav>
    </header>
    <main>
        <form>
            <p>Patient Name:</p>
            <input type="text" placeholder="name" required/>
            <p>Patient Surname:</p>
            <input type="text" placeholder="surname" required/>
            <p>Patient Age:</p>
            <input type="number" placeholder="age" required/>
            <p>Patient Gender:</p>
            <input type="radio" name="gender" value="male"> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
            <p>Patient Address:</p>
            <input type="text" placeholder="address" required/>
            <p>Patient Phone:</p>
            <input type="number" placeholder="phone" required/>
            <p>Patient Illness:</p>
            <input type="text" placeholder="illness"/>
            <button type="submit">Add Patient</button>
        </form>
    </main>
</body>
</html>