<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Data</title>
</head>
<body>
    <header>
        <img src="logo.png"/>
        <a href="login.html">LogOut</a>
        <nav>
            <a href="patients.html">Patients</a>
            <a href="cites.html">Cites</a>
        </nav>
    </header>
    <main>
        <h2>Patient Name</h2>
        <nav>
            <a href="patient-data.html">Data</a>
            <a href="patient-cites.html">Cites</a>
            <a href="patient-pills.html">Pills</a>
        </nav>
        <section>
            <h3>Name Surname</h3>
            <p>Age, Gender</p>
            <p>Address</p>
            <p>Phone</p>
        </section>
    </main>
</body>
</html>