<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patients</title>
</head>
<body>
    <header>
        <img src="logo.png"/>
        <a href="login.html">LogOut</a>
        <nav>
            <a href="patients.html">Patients</a>
            <a href="cites.html">Cites</a>
        </nav>
    </header>
    <main>
        <form>
            <input type="text" placeholder="search by patient name"/>
            <button type="submit">Search</button>
        </form>
        <button>Add new patient</button>
        <ul>
                <li>Name.  Illness.  Medicine.  Next cite.</li>
        </ul>
        <section>
            <ul>
                <li><a href="patient_data.html">Name.</a> Illness.  Medicine.  Next cite.</li>
                <li><a href="patient_data.html">Name.</a> Illness.  Medicine.  Next cite.</li>
                <li><a href="patient_data.html">Name.</a> Illness.  Medicine.  Next cite.</li>
                <li><a href="patient_data.html">Name.</a> Illness.  Medicine.  Next cite.</li>
                <li><a href="patient_data.html">Name.</a> Illness.  Medicine.  Next cite.</li>
                <li><a href="patient_data.html">Name.</a> Illness.  Medicine.  Next cite.</li>
                <li><a href="patient_data.html">Name.</a> Illness.  Medicine.  Next cite.</li>
            </ul>
        </section>
    </main>
</body>
</html>