<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form adopted</title>
</head>
<body>
    <nav>
        <a href="">Mon-Gos</a>
    </nav>
    <div>
        <h3>Datos del perro</h3>
        <p>Nombre:</p>
    </div>
    <div>
        <h3>Datos del solicitante</h3>
        <form>
            <input type="text" name="" id="" placeholder="Nombre">
            <input type="mail" name="mail" id="" placeholder="Email">
            <input type="text" name="phone" id="" placeholder="Telefono">
            <input type="text" name="adress" id="" placeholder="Dirección">
            <input type="text" name="description" id="" placeholder="Descripción">
            <textarea type="text" name="content" id="" placeholder="Contenido"></textarea>
            <button type="submit" value="Enviar">
        </form>
    </div> 
</body>
</html>