<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="">Mon-Gos</a>
        <input type="button" value="Buscador">
        <input type="button" value="¿Eres una protecotora?">
    </nav>
    <main>
        <img src="" alt="">
        <input type="button" value="En adopción">
        <ul><li></li></ul>
        <input type="button" value="Ya adoptados">
        <ul><li></li></ul>
    </main>
    <footer>
        <p></p>
    </footer>
    
</body>
</html>