<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InfoDetail</title>
</head>
<body>
    <nav>
        <a href="">Mon-Gos</a>
        <input type="button" value="¿Eres una protecotora?">
    </nav>
    <div>
        <img src="" alt="">
        <ul>
            <li><label for="">Nombre:</label></li>
            <li><label for="">Tamaño:</label></li>
            <li><label for="">Sexo:</label></li>
            <li><label for="">Edad:</label></li>
            <li><label for="">Description:</label></li>
        </ul>
    </div>
    <div>
        <p>Protectora:</p>
        <input type="button" value="Adoptar">
    </div>
</body>
</html>