<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Dog</title>
</head>

<body>
    <h2>Insertar Perro</h2>
    <form>
        <input type="text" name="name" placeholder="Nombre" />
        <div>
            <p>Sexo:</p>
            <select name="" id="">
                <option value="male">Macho</option>
                <option value="female">Hembra</option>
            </select>
        </div>
        <div>
        <p>Edad:</p>
        <input type="number" name="" id="">
        </div>
        <div>
            <p>Tamaño:</p>
            <input type="number">
        </div>
        <textarea name="description" placeholder="Descripción"></textarea>
        <input type="file">
        <button type="submit">Insertar</button>
    </form>
    <input type="button" value="Salir">
</body>

</html>