<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <nav>
        <a href="">Mon-Gos</a>
    </nav>
    <div>
        <h1>Registro</h1> 
        <form>
            <input type="email" name="mail" placeholder="Email" />
            <input type="text" name="name" placeholder="Nombre" />
            <input type="text" name="adress" placeholder="Dirección" />
            <input type="text" name="phone" placeholder="Telefono" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>