<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
    <nav>
        <a href="">Mon-Gos</a>
        <input type="button" value="¿Eres una protecotora?">
    </nav>
    <main>
        <div>
            <div>
                <p>Edad:</p>
                <select name="" id="">
                    <option value="junior">Junior</option>
                    <option value="adult">Adulto</option>
                    <option value="senior">Senior</option>
                </select>
            </div>
            <div>
                <p>Sexo:</p>
                <select name="" id="">
                    <option value="male">Macho</option>
                    <option value="female">Hembra</option>
                </select>
            </div>
            <div>
                <p>Tamaño:</p>
                <select name="" id="">
                    <option value="small">Pequeño</option>
                    <option value="medium">Mediano</option>
                    <option value="big">Grande</option>
                </select>
            </div>
        </div>
        <div>
            <ul>
                <li></li>
            </ul>
        </div>
    </main>
    <footer>
        <p></p>
    </footer>
</body>
</html>