/* source: https://codepen.io/soulwire/pen/foktm*/

html, body {
	font-family: 'Play', sans-serif;
	background: #2b2b2b;
	margin: 0;
}

#info {
	position: absolute;
	left: 10px;
	top: 10px;
}

#info {
	background: rgba(0,0,0,0.8);
	padding: 12px 10px;
	margin-bottom: 1px;
	color: #fff;
}

#info h1 {
	line-height: 22px;
	font-weight: 300;
	font-size: 18px;
	margin: 0;
}

#info h2 {
	line-height: 14px;
	font-weight: 300;
	font-size: 12px;
	color: rgba(255,255,255,0.8);
	margin: 0 0 6px 0;
}

#info a {
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted rgba(255,255,255,0.2);
	margin-right: 4px;
	line-height: 20px;
	font-size: 10px;
	color: rgba(255,255,255,0.5);
}

#info a:hover {
	border-bottom: 1px dotted rgba(255,255,255,0.6);
	color: rgba(255,255,255,1.0);
}