.content
    +content

.content-full
    +content-full

.text-left
    text-align: left

.text-right
    text-align: right

.text-center
    text-align: center

.push-20
    +push-20

.push-20-t
    margin-top: 20px

.push-20-l
    margin-left: 20px

.push-20-r
    margin-right: 20px

.push-30
    margin-bottom: 30px

.push-30-t
    margin-top: 30px

.push-30-l
    margin-left: 30px

.push-30-r
    margin-right: 30px

.push-40
    margin-bottom: 40px
    
.push-40-t
    margin-top: 40px

.push-40-l
    margin-left: 40px

.push-40-r
    margin-right: 40px

.push-50
    margin-bottom: 50px
    
.push-50-t
    margin-top: 50px

.push-50-l
    margin-left: 50px

.push-50-r
    margin-right: 50px

.push-70
    margin-bottom: 70px
    
.push-70-t
    margin-top: 70px

.push-70-l
    margin-left: 70px

.push-70-r
    margin-right: 70px