.recipeCard{
    margin-bottom: 20px;
    
    /* margin-left: 30px;
    margin-right: 50px; */
    
    }
    
    .card-img-top {
        width: 395px;
        height: 263px;
    }
    .cardButton{
        margin-top: 10px;
        background-color: #5FB854 !important;
        border-color: #5FB854 !important;
    }

    .displayRecipes{
        min-height: 150px !important;
    }

    .card-title{
        height: 100px;
    }