body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./components/paper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
