.navbar {
    display: flex;
    padding: 10px 10px;
    border: 1px solid black;
}

.navbar__link {
    width: 90px;
    height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 16px;
}
.navbar__link:hover{
    color: red;
    font-size: 18px;
}