.register-container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(234, 234, 234);
}

#register-footer{
    text-align: center;
}

#register-btn{
    margin-top: 10px;
    background-color: rgb(26, 164, 248);
}

#register-title{
    background-color: rgb(26, 164, 248);
    color:white;
    border-radius: 0%;
}

#register-card{
    border-radius: 0%;
}
