* 
    padding: 0
    margin: 0
    

.main-header
    background-image: url("./images/site_showcase_bg.jpg")
    background-size: cover
.navigation__list
    display: flex
    list-style: none
    background-color: #f8f8f8
    padding-left: 5em

    &-item 
        padding: 0.6em

.main-section
    display: flex

    &__first-article
        padding: 1em
        font-size: 2em
        color: white
        align-self: center

        &__text-wrapper
            max-width: 80%

    &__image-wrapper
        margin-top: 20px

.secondary-section
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr
    width: 100vw
    justify-items: center

    &__article-1

        &__picture
            
        &__title
            grid-area: one-title
        &__text
            grid-area: one-text

    


