
=content
    margin: 0 auto
    padding: 25px 25px 1px
    max-width: 100%
    overflow-x: visible

=content-full
    padding-bottom: 25px

=content-mini
    padding: 20px 20px 1px
    
=content-mini-full
    padding-bottom: 20px

=text-left
    text-align: left

=text-right
    text-align: right

=text-center
    text-align: center
