.ChangePassword
  padding: 30px

  &-formFeedback
    margin-top: 15px

    &--error
      color: tomato

    &--success
      color: green

  &-field
    display: grid
    grid-template-columns: 8em 1fr
    margin-bottom: 15px
    grid-column-gap: 30px

  &-fieldError
    font-size: .8em
    margin-top: 5px
    color: tomato

  &-label
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    font-weight: bold
    color: #252525

  &-input
    display: block
    padding: 7px 12px
    border-radius: 3px
    background-color: #ffffff
    border: 1px solid #dbdbdb
    font-size: 1em
    width: 100%

    &:focus
      outline: none

  &-avatarWrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end

  &-avatar
    border-radius: 50%
    width: 45px

  &-userInfo
    display: flex
    flex-direction: column
    justify-content: center

  &-username
    margin-bottom: .2em
    font-size: 1.4em
    font-weight: 400
    letter-spacing: .02em