.patients
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 18px
    color: #333333
    padding: 2% 0
    margin: 3% auto 0 auto
    width: 80%

    &__title
        margin: 7% 0 3% 0

    &__list
        list-style-type: circle
        color: #2fbdbb
        padding: 0 2%

        &__item

            &__link
                text-decoration: none
                color: #333333

                &:hover
                    color: #2fbdbb