.upload-form {
    max-width: 900px;
    margin: auto;
}

.upload-form-inline {
    display: inline-block;
    width: 50%;
}

.upload-container {
    background-color: #ffffff;
    padding: 30px;
    max-width: 900px;
    margin: 40px auto;
    border: 1px solid #ced4da;
    border-radius: .45rem;
}

.upload-container .fileContainer {
    box-shadow: none;
}

.upload-container .uploadPictureContainer {
    margin: 10px !important;
    width: 170px !important;
    padding: 5px !important;
}

.upload-container .uploadPictureContainer .deleteImage {
    width: 19px;
    height: 19px;
    background: #cfd8dc;

    font-size: 14px;
    line-height: 19px;
}

.upload-container .uploadPictureContainer img.uploadPicture {
    width: 100%;
    height: 105px;
    object-fit: cover;
}


.upload-map-field-container {
    height: 700px;
    position: relative;
    overflow: hidden;
}

.upload-map-container {
    position: relative;
}

.upload-title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 25px;
}

.upload-product-btn {
    margin: 0 3px 20px 0px;
    border: 2px solid #0097A7;
    border-radius: 50px;
    padding: 6px 18px;
    font-size: 16px;
    cursor: pointer;
	background: #0097A7;
	color: #ffffff;

}

.upload-product-btn:hover {
	background: #067682;
	color: #ffffff;
}
